---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Daniel is a software developer passionate about creating innovative solutions. Currently, He's focused on Web3 projects writing on
			Solidity and React.
		</p>
		<p>
			He would be thrilled to collaborate on any project in the Web3 space, bringing expertise, creativity, and a commitment to delivering
			high-quality results. Let’s build the future together!
		</p>
	</div>
</div>
