---
import { Image } from "astro:assets";
import { SITE_TITLE, SITE_TAGLINE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "@layouts/BaseLayout.astro";
import Ava from "@assets/img/ava.jpg";
import Prose from "@components/Prose.astro";
import { projects } from "@pages/projects/projects";
import ProjectList from "@components/ProjectList.astro";
import PostList from "@components/PostList.astro";

const top6Projects = projects.slice(0, 6);
---

<BaseLayout
  title={SITE_TITLE + " | " + SITE_TAGLINE}
  description={SITE_DESCRIPTION}
>
  <div class="container">
    <div class="w-full md:flex md:items-center gap-16 mb-10">
      <div class="text-pretty leading-9">
        <h1 class="text-4xl font-bold mb-4">
          <span class="text-3xl">Hi there 👋,</span> Daniel <span
            class="text-3xl">here!</span
          >
        </h1>
        <Prose>
          <div class="text-lg">
            <p class="text-xl font-semibold text-gray-800 dark:text-white">
              I am a software developer with
              <span class="text-yellow-500 font-bold">
                7 years of experience
              </span>
              <span class="text-gray-500">💻</span>, skilled in back-end
              technologies. Currently, I am focused on
              <span class="text-teal-500 font-semibold">
                blockchain development
              </span>
              , creating decentralized applications (dApps) with Web3 and
              <span class="text-indigo-500">Solidity</span>, and exploring the
              future of the web.
            </p>
          </div>
        </Prose>
        <div class="flex flex-wrap gap-4 mt-8">
          <a
            href="mailto:danieltomefer@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            role="link"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
          >
            <svg
              class="size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"
              ></path><path d="M3 6l9 6l9 -6"></path><path d="M15 18h6"
              ></path><path d="M18 15l3 3l-3 3"></path></svg
            >
            Contact me
          </a>
          <a
            href="https://linkedin.com/in/danieltomefer"
            target="_blank"
            rel="noopener noreferrer"
            role="link"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
          >
            <svg
              class="size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
              ></path><path d="M12 16l0 -5"></path><path
                d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
            >
            LinkedIn
          </a>
        </div>
      </div>
      <Image
        src={Ava}
        alt="Muhammad Syakirurohman"
        width={300}
        loading="eager"
        class="rounded-3xl rotate-3 mx-4 md:mx-0"
      />
    </div>
    <main>
      <section class="py-6" id="projects">
        <div class="flex justify-between gap-2 mb-1">
          <h2 class="text-lg font-bold mb-3">My Projects</h2>
          <a
            href="/projects/"
            class="inline-block py-2 underline dark:prose-invert"
            >All projects &raquo;</a
          >
        </div>
        <ProjectList projects={top6Projects} />
      </section>
      <section class="py-6" id="about-me">
        <article>
          <div class="w-full md:flex md:items-center gap-16 mt-10">
            <div class="text-pretty leading-9">
              <h2 class="text-4xl font-bold mb-4">About me!</h2>
              <Prose>
                <div class="text-lg">
                  <p>
                    With over 7 years of experience as a <span class="font-bold">software developer</span>, I
                    have honed my skills in back-end technologies across
                    multiple industries. I have worked extensively with 
                    <span class="font-bold">PHP, JavaScript, and MySQL</span>, 
                    contributing to both small projects and large-scale applications.
                  </p>
                  <p>
                    My experience includes maintaining and enhancing the virtual
                    campus at Universitat Rovira i Virgili, developing new
                    features and plugins for the Moodle platform, and
                    implementing Docker for better deployment and orchestration.
                  </p>
                  <p>
                    Previously, I also built a product API from scratch using
                    Symfony, where I applied DDD (Domain-Driven Design)
                    principles and integrated Doctrine ORM for database
                    management. Throughout my career, I have focused on code
                    refactoring, applying SOLID principles, and automating
                    processes through CI/CD pipelines.
                  </p>
                </div>
              </Prose>
            </div>
            <Image
              src={Ava}
              alt="Muhammad Syakirurohman"
              width={300}
              class="rounded-3xl rotate-3 mx-4 md:mx-0"
            />
          </div>
        </article>
      </section>
    </main>
  </div>
</BaseLayout>
