---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import PostItem from "../components/PostItem.astro";

type BlogPost = CollectionEntry<"blog">;

const posts = (await getCollection("blog"))
  .sort(
    (a: BlogPost, b: BlogPost) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  )
  .slice(0, 5);
---

<div>
  {posts.map((post: BlogPost) => <PostItem post={post} />)}
</div>
