---
import BaseHead from "@layouts/components/BaseHead.astro";
import Header from "@layouts/components/Header.astro";
import Footer from "@layouts/components/Footer.astro";

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="bg-white dark:bg-gradient-to-b dark:from-[#0f172a] dark:to-[#1e293b] dark:text-white pt-16 sm:pt-0">
    <Header />
    <div class="py-8 min-h-[calc(100vh-160px)]">
      <slot />
    </div>
    <Footer />
  </body>
</html>
